<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hi! This is your password reset request !</h1>

  <p>
    You'll be redirect to update password form by clicking the following link: <br><br>
    <a th:href="@{${reset_link}}">Reset Password</a>.
    This link will expire in 1 hours.
    <span th:text="${email}"></span>
  </p>

  <p>
    Cheers!
  </p>
</body>

</html>